<div class="d-flex justify-content-center">
    <div class="card" style="width: 50rem; margin-top: 20px;">
        <div class="card-body">
            <!-- <form> -->
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" placeholder="Enter Title" [(ngModel)]="dataFilm.title">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" placeholder="Enter Description" [(ngModel)]="dataFilm.opening_crawl" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <label for="producer">Producer</label>
                    <input type="text" class="form-control" placeholder="Producer" [(ngModel)]="dataFilm.producer">
                </div>

                <button class="btn btn-default btn-sm" (click)="goBack()">Back</button>
                <button class="btn btn-primary btn-sm" (click)="save()">Save</button>
            <!-- </form> -->
        </div>
    </div>
</div>
