<div class="d-flex justify-content-center">
    <!-- Show loader -->
    <div class="loader" *ngIf="!film">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>

    <div class="card" style="width: 50rem; margin-top: 20px;" *ngIf="film">
        <div class="card-body">
            <!-- <form> -->
                <div class="form-group">
                    <label for="exampleInputEmail1">Title</label>
                    <input type="text" class="form-control" [(ngModel)]="film.title" placeholder="Enter Title">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Description</label>
                    <textarea type="text" class="form-control" [(ngModel)]="film.opening_crawl" placeholder="Enter Description" rows="4">
                    </textarea>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Producer</label>
                    <input type="text" class="form-control" [(ngModel)]="film.producer" placeholder="Producer">
                </div>

                <button class="btn btn-default btn-sm" (click)="goBack()">Back</button>
                <button class="btn btn-primary btn-sm" (click)="save()">Save</button>
            <!-- </form> -->
        </div>
    </div>
</div>
