<div class="container">
    <!-- Show loader -->
    <div class="loader" *ngIf="!films">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>

    <div class="d-flex justify-content-between">
        <button type="button" name="button" class="btn btn-default" (click)="addFilm()">
            <i class="fa fa-plus-circle"></i> Add
        </button>
        <search-film></search-film>
    </div>

    <!-- Show if get Films Array in Component -->
    <div class="row" *ngIf="films">
        <div class="col align-self-center" *ngFor="let film of films" style="margin: 10px 0;">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title" [innerHtml]="film.title"></h4>
                    <p class="card-text">Producer by <small class="text-muted" [innerHtml]="film.producer"></small></p>
                    <div class="d-flex justify-content-around">
                        <button type="button" class="btn btn-info" (click)="gotoDetailFilm(film, modal)">Show</button>
                        <button type="button" class="btn btn-warning" (click)="editFilm(film)">Edit</button>
                        <button type="button" class="btn btn-danger" (click)="deleteFilm(film)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<ng-template #modal let-closeModal="close">
    <div class="modal-header">
        <h4 class="modal-title">{{dataModal.title}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <small>Producer by <span class="text-muted">{{dataModal.producer}}</span></small>
        <h4>Description</h4>
        <p>{{dataModal.opening_crawl}}</p>
    </div>
</ng-template>
