.film-typehead {
    position: absolute;
    z-index: 2;
}

.search-result {
  border-bottom: 1px solid rgba(120,120,120,0.5);
  border-left: 1px solid rgba(120,120,120,0.5);
  border-right: 1px solid rgba(120,120,120,0.5);
  width: 100%;
  padding: 5px;
  background-color: white;
  cursor: pointer;
}

.search-result:hover {
  color: #eee;
  background-color: #607D8B;
}
