<div id="search-component">
  <input class="form-control" #searchBox id="typeahead-basic" (keyup)="search(searchBox.value)" placeholder="Search by Title" />
  <div class="film-typehead">
    <div *ngFor="let film of films | async" (click)="gotoDetail(film)" class="search-result" >
      {{film.title}}
    </div>
  </div>
</div>
