<div class="jumbotron bg-dark">
    <div class="d-flex justify-content-center">
        <img src="http://pngimg.com/uploads/star_wars_logo/star_wars_logo_PNG32.png" alt="">
    </div>
</div>

<router-outlet></router-outlet>
